.classpath
.project
.settings
target
war
war/WEB-INF/classes/**/*
war/WEB-INF/lib
nohup.out
user_sessions*
autosparql/cache2
autosparql/select-cache
autosparql/construct-cache
autosparql/log
autosparql/logs
algorithm-tbsl/logs/
autosparql-tbsl/cache/
autosparql-tbsl/logs/
algorithm-tbsl/dbpedia/
autosparql-tbsl/DBpedia Live/
autosparql-tbsl/dbpedia/
